* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#mainContainer {
    margin: auto;
    width: 75%;
}

/*  style header */
.debug header {
    height: 80px;
}

header {
    background-color: #E579E6;
}
/*  / style header */

/* sezione IMMAGINE */
.debug main #bloccoImmagine {
    height: 349px;
}

main #bloccoImmagine {
    background-color: #E1D67A;
    width: 100%;
    margin-top: 1rem;
}
/* / sezione IMMAGINE */

/* BLOCCO A COLONNE */
#bloccoColonne {
    background-color: #0086FF;
} 

/* TITOLO */
.debug #bloccoColonne .title {
    height: 87px;
}

#bloccoColonne .title {
    background-color: #ABCFE7;
    margin-top: 1rem;
}
/* / TITOLO */

/* SIDEBAR LEFT*/
.debug #bloccoColonne .sidebarLeft, .debug #bloccoColonne .sidebarRight {
    height: 300px;
}

#bloccoColonne .sidebarLeft, #bloccoColonne .sidebarRight {
    background-color: #ABCFE7;
    width: calc(25% - 10px);
    float: left;
    margin-top: 1rem;
}
/* / SIDEBAR LEFT*/

/* MAINCONTENT */
.debug #bloccoColonne .mainContent {
    height: 300px;
}

#bloccoColonne .mainContent {
    background-color: #ABCFE7;
    float: left;
    width: 50%;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
/*  / MAINCONTENT */